body {
  position: relative;
  height: 100vh;
}

#center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 200px;
	background-color: lightblue;
	border: 2px solid black;
	color: purple;
}
#center-text {
	position: absolute;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}